
.cards {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    )
    gap 16px;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}